#chat-widget {
    /* display: flex; */
    /* flex-direction: column; */
    flex: 1;
    order: 999;
    min-height: 0;

    padding-top: 0px;
    padding-bottom: 6px;
}

.message-container {  
    background-color: #222;
    border: 2px solid #111;
    border-radius: 6px;
    margin: 6px;
    padding-top: 3px;
    
    color: white;
    
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.message-container >*:hover {
    background-color: #333;
}

.message {
    display: block;
    padding: 2px 6px;
    line-height: 1.4em;
}
.message .fa,
.message .badges img {
    vertical-align: text-bottom;
}
.message:hover {
    background-color: #444;
}

.message .user,
.message .badges,
.message .username,
.message .content {
    display: inline;
    vertical-align: bottom;
}

.message .user {
    white-space: nowrap;
}

.message .content {
    white-space: normal; /* allow wrapping */
}

.message .username::after {
    content: "\00A0//";
}

.message .username[has-ads="false"]::after {
    content: "\00A0///";
}


.message .fa-twitch {
    color: #9146FF;
}
.message .fa-youtube-play {
    color: #FF0000;
}
    
.notification {
    flex-shrink: 0;
    word-wrap: normal;

    background-color: #2a2a2a;
    
    border-left: 3px solid #aaa;
    border-right: 10px solid #aaa;
    border-top: 0px;
    border-bottom: 0px;
    /* background-color: #555; */
    
    padding: 4px;
    padding-left: 13px;
    
    min-height: 25px;
    align-content: center;
}
.notification-type {
    display: none;
}
.notification-info {
    background-color: #2a2a2a;
    border-color: #aaa;
}
.notification-warning {
    background-color: #30302a;
    border-color: #cca;
}
.notification-error {
    background-color: #302a2a;
    border-color: #caa;
}


#input-field {
    
    margin: 6px;
    margin-top: 0px;
    flex: 0;
    
    display: flex;
    flex-direction: row;
}
#message-input {
    flex: 1;
}
