<script src="{{base_url}}/widget.js"></script>
<link rel="stylesheet" href="{{base_url}}/widget.css">

<div class="message-container" id="message-container">
    <div class="message">
        <div class="user">
            <div class="platform"></div>
            <div class="badges"></div>
            <p class="username" style="color:skyblue;">WebUI</p>
        </div>
        <div class="content">Welcome to the Chat</div>
    </div>

    {% for message in chat_history %}
    <div class="message">
        <div class="user">
            <div class="badges">{{message.platform_icon}}{{message.badges}}</div>
            <p class="username" has-ads="{{message.has_ads | lower}}" style="color:{{message.color}};">{{message.user}}</p>
        </div>
        {% if message.emotes != {} %}
        <div class="content"><span class="raw-emotes" emotes='{{ message.emotes | tojson }}' platform="{{message.platform}}">{{message.message}}</span></div>
        {% else %}
        <div class="content">{{message.message}}</div>
        {% endif %}
    </div>
    {% endfor %}

</div>

<div id="input-field">
    <input id="message-input" placeholder="Type a message or a !command">
</div>