<script src="{{base_url}}/widget.js"></script>
<link rel="stylesheet" href="{{base_url}}/widget.css">

<div class="message-container" id="message-container">
    <div class="message">
        <div class="user">
            <div class="platform"></div>
            <div class="badges"></div>
            <p class="username" style="color:HotPink;">Test Username</p>
        </div>
        <div class="content">the message</div>
    </div>
    <div class="message">
        <div class="user">
            <div class="platform"></div>
            <div class="badges"></div>
            <p class="username" style="color:GoldenRod;">Test Username</p>
        </div>
        <div class="content">the message</div>
    </div>
    <div class="notification">
        <div class="notification-type"></div>
        <div class="content">the notification</div>
    </div>
</div>

<div id="input-field">
    <input id="message-input" placeholder="Type a message or a !command">
    {# <select id="message-user">
        <option value="artamis">Artamis</option>
        <option value="abby">Abby</option>
        <option value="commands">!!</option>
    </select> #}
</div>