<div class="clip row" style="gap: 10px;" id="{{id}}">
    <div class="col" style="flex: auto; justify-content: center; flex:3;">
        <h2><span id="clip-title">{{title}}</span></h2>
        <div class="row">
            <div><span id"clip-user">{{broadcaster_name}}</span></div>
            <div class="small-text">clip by <span id="clip-creator">{{creator_name}}</span></div>
        </div>
    </div>
    <div class="col">
        <div class="col"><button class="player-play" clip-id="{{id}}">Play ({{duration | int}}s)</button></div>
        <div class="row">
            <button class="player-stay" class="col" clip-id="{{id}}">Stay</button>
            <button class="player-clear" clip-id="{{id}}">Clear</button>
        </div>
    </div>
</div>