<script src="static/carousel.js" defer></script>
<link rel="stylesheet" href="static/carousel.css">

<script>

function playClip(ws, id, stay=false) {
    ws.send(JSON.stringify({
        event: 'play-pressed',
        data: {id: id, stay:stay}
    }));
}
function clearClip(ws, id) {
    ws.send(JSON.stringify({
        event: 'clear-clip',
        data: {id: id}
    }));
}

function onClickFunction(ws) {
    return function () {
        const el = $(this);
        const action = el.attr('class').split('-')[1]; // play/stay/clear
        const clipId = el.attr('clip-id');

        console.log(action, clipId);
        if (action == 'play') playClip(ws, clipId);
        if (action == 'stay') playClip(ws, clipId, true);
        if (action == 'clear') clearClip(ws, clipId);
    }
}

$(document).ready(() => { 
    // Connect to the WebSocket server
    const ws = new WebSocket("ws://127.0.0.1:13337/ws/clip");

    ws.addEventListener("open", () => {
        console.log("Connected to chat WebSocket");
    });

    // Listen for stop time updates from Python
    ws.addEventListener("message", (event) => {
        try {
            const data = JSON.parse(event.data);

            if (data.event === "send-clip") {
                $.get("/widget/clip_player/clip_row/", data.message, (html) => {
                    {# $html = $(html) #}
                    {# $html.on('click', '[class^="player-"]', onClickFunction(ws)); #}
                    $container = $('#clip-container')
                    $container.append(html)
                })
            }
            if (data.event === "clear-clip" && data.message.id) {
                $(`#${data.message.id}`).remove()
            }

            if (data.event === "play-clip") {
                console.log(`Playing Clip: ${data.message.id}`, data.message)
            }
            if (data.event === "stop-clip") {
                console.log(`Stopping Clip: ${data.message.id}`, data.message)
            }
            
            if (data.event === "update") {
                console.log("Received update:", data.message);
                if (data.message['counter-count'] !== undefined)
                    $("#counter-count").html(data.message['counter-count']);
            }
        } catch (err) {
            console.error("Failed to parse WS message:", err);
        }
    });

    ws.addEventListener("close", () => {
        console.log("WebSocket disconnected");
    });

    $(document).on('click', '[class^="player-"]', onClickFunction(ws));

    // -=-=- //
    
    const recent_users = []
    $('#player-channel-input').keypress((e) => { 
        // Enter key corresponds to number 13 
        if (e.which !== 13) return;
        // -=-=- //
        const $input = $('#player-channel-input')
        const input = $input.val()
        $input.val('')
        if (input == '') return 

        ws.send(JSON.stringify({
            event: 'send-random-clip',
            data: {user:input}
        }));
    }) 
});


</script>

<style>
#player-channel-input {
    text-align: center;
}
button.player-play {
    background: #339966;
}
#clip-container {
    gap: 6px;
}
.clip {
    {# min-height: 60px; #}
    gap: 8px;
}
#clip-user {
    overflow: hidden;
}
</style>

<div id="clip-player">
    <div class="widget-page col" style="gap: 6px;">
        <div class="row">
            <h1>Videos:</h1>
            <div class="carousel" for="clip-container"></div>
            <input id="player-channel-input" placeholder="User">
        </div>
        <div id="clip-container" class="">
        {% for clip in clip_list %}
            <div class="clip row" style="gap: 10px;" id="{{clip.id}}">
                <div class="col" style="flex: auto; justify-content: center; flex:3;">
                    <h2><span id="clip-title">{{clip.title}}</span></h2>
                    <div class="row">
                        <div><span id"clip-user">{{clip.broadcaster_name}}</span></div>
                        <div class="small-text">clip by <span id="clip-creator">{{clip.creator_name}}</span></div>
                    </div>
                </div>
                <div class="col">
                    <div class="col"><button class="player-play" clip-id="{{clip.id}}">Play ({{clip.duration | int}}s)</button></div>
                    <div class="row">
                        <button class="player-stay" class="col" clip-id="{{clip.id}}">Stay</button>
                        <button class="player-clear" clip-id="{{clip.id}}">Clear</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>