<script src="static/carousel.js" defer></script>
<link rel="stylesheet" href="static/carousel.css">

<script>

function addClipHTML(html) {
    $container = $('#clip-container')
    $container.append(html)

    {# $container.animate({
        scrollTop: $container.prop('scrollHeight')
    }, 1000); #}
}


$(document).ready(() => { 
    // Connect to the WebSocket server
    const ws = new WebSocket("ws://127.0.0.1:13337/ws/clip");

    ws.addEventListener("open", () => {
        console.log("Connected to chat WebSocket");
    });

    // Listen for stop time updates from Python
    ws.addEventListener("message", (event) => {
        try {
            const data = JSON.parse(event.data);

            if (data.event === "send-clip") {
                $.get("/widget/clip_player/clip_row/", data.message, (html) => {
                    addClipHTML(html)
                })
            }
            if (data.event === "update") {
                console.log("Received update:", data.message);
                if (data.message['counter-count'] !== undefined)
                    $("#counter-count").html(data.message['counter-count']);
            }
        } catch (err) {
            console.error("Failed to parse WS message:", err);
        }
    });

    ws.addEventListener("close", () => {
        console.log("WebSocket disconnected");
    });

    $('#player-play').on('click', () => {
        {# ws.send(JSON.stringify({
            event: 'increment',
        })); #}
    })
    $('#player-stop').on('click', () => {
        {# ws.send(JSON.stringify({
            event: 'decrement',
        })); #}
    })

    // -=-=- //
    
    const recent_users = []
    $('#player-channel-input').keypress((e) => { 
        // Enter key corresponds to number 13 
        if (e.which !== 13) return;
        // -=-=- //
        const $input = $('#player-channel-input')
        const input = $input.val()
        $input.val('')
        if (input == '') return 

        ws.send(JSON.stringify({
            event: 'send-random-clip',
            data: {user:input}
        }));
    }) 
});


</script>

<style>
#player-channel-input {
    text-align: center;
}
#player-play {
    background-color: #339966;
}
#clip-container {
    gap: 6px;
}
.clip {
    min-height: 60px;
    gap: 8px;
}
#clip-user {
    overflow: hidden;
}
</style>

<div id="clip-player">
    <div class="widget-page col" style="gap: 6px;">
        <div class="row">
            <h1>Videos:</h1>
            <div class="carousel" for="clip-container"></div>
            <input id="player-channel-input" placeholder="User">
        </div>
        <div id="clip-container" class="">
        {% for clip in clip_list %}
            <div class="clip row" style="gap: 10px;">
                <div class="col" style="flex: auto; justify-content: center; flex:3;">
                    <h2><span id="clip-title">{{clip.title}}</span></h2>
                    <div class="row">
                        <div><span id"clip-user">{{clip.broadcaster_name}}</span></div>
                        <div class="small-text">clip by <span id="clip-creator">{{clip.creator_name}}</span></div>
                    </div>
                </div>
                <div class="col">
                    <div class="col"><button id="player-play" clip-id="{{clip.id}}">Play</button></div>
                    <div class="row">
                        <button id="player-stay" class="col" clip-id="{{clip.id}}">Stay</button>
                        <button id="player-clear" clip-id="{{clip.id}}">Clear</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>